<!-- Section Hero de la page d'accueil -->
<section class="hero" aria-labelledby="hero-heading">

  <!-- Vidéo de fond -->
  <video class="background-video" autoplay muted loop aria-hidden="true">
    <source src="../../../assets/video/code/heroBg.mp4" type="video/mp4">
    Votre navigateur ne supporte pas les vidéos HTML5.
  </video>

  <!-- Contenu de la section -->
  <div class="content">
    <div class="catch-phrase" @animateCatchPhrase (@animateCatchPhrase.start)="onAnimationStart()">
      <h1 class="design">Du design</h1>
      <h1 class="code">
        <span class="letter">a</span>
        <span class="letter">u</span>
        <span class="letter">&nbsp;</span>
        <span class="letter">c</span>
        <span class="letter">o</span>
        <span class="letter">d</span>
        <span class="letter">e</span>
        <span [@animateBlink]="blinkState" (animationstart)="toggleBlink()">_</span>
      </h1>
      <h6 class="phrase">façonnons ensemble l'avenir du numérique !</h6>
    </div>
    <h1 class="me">
      <img class="logo" src="../../../assets/images/Logo.webp" alt="Logo de Gaëtan Quenouille">
      Gaëtan Quenouille
    </h1>
  </div>
</section>
